@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1:#FC9046;
    --cor2:#FC7047;
    --cor3:#FCAF47;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-flow: column;
    height: 100vh
}

header {
    background-color: var(--cor2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1;
}

header div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

header #menu {
    display: flex;
    justify-content: space-around;
    margin-top: -10px;
    width: 100%;
}

header #menu a {
    font-size: clamp(1.5vw, 7vw, 24px);
    padding: 10px;
    color: var(--cor3);
    padding-right: 30px;
    padding-left: 30px;
    transition: transform 0.5s, background-color 0.3s;
    border-radius: 8px;
}

header #menu a:hover {
    background-color: #df643f;
    color: #ffc272;
    transform: scale(1.1);
}

header img {
    width: 25vw;
    max-width: 140px;
}

main {
    background-color: rgb(44, 44, 44);
    display: block;
    width: 100%;
    max-width: 1250px;
    margin: auto;
    padding: 20px;
    flex-grow: 1;
}

main h1 {
    color: var(--cor3);
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

main h2 {
    color: var(--cor1);
    text-align: center;
    margin-bottom: 10px;
}

main section {
    border-bottom: 1px solid var(--cor2);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

section .item {
    display: flex;
    border: 1px solid var(--cor1);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.267);
    margin-bottom: 20px;
    justify-content: space-between;
}

.item .info h3 {
    color: rgb(212, 44, 22);
    margin-bottom: 10px;
    font-size: 16px;
}

.item .info p {
    color: var(--cor3);
    text-align: left;
    font-size: clamp(0.85em, 3.5vw, 1.2em);
}

section .demonst {
    position: relative;
    margin-left: 10px;
    transition: transform 0.3s;
}

section .item img {
    max-width: 130px;
    border-radius: 6px;
}

section .item .demonst button {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    transition: transform 0.5s, background-color 0.5s;

}

section .item .demonst:hover button{
    background-color: rgb(212, 44, 22);
    transform: scale(1.07);
}

section .item .demonst:hover {
    transform: scale(1.05);
}

footer {
    background-color: var(--cor2);
    padding: 20px;
    color: var(--cor3);
    text-align: center;

}

footer #social {
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 2px solid var(--cor3);
}

footer #social a {
    font-size: 2em;
    padding: 10px;
    color: var(--cor3);
}

footer h3 {
    border-top: 2px solid var(--cor3);
    padding-top: 10px;
    margin-top: 10px;
    text-align: left;
    font-size: 1.2em
}