@charset "UTF-8";
:root {
    --cor0: #F52FAF;
    --cor1: #D92FF5;
    --cor2: #2c1342;
    --cor3: #10195a;
    --cor4: #572FF5;
    --cor5: #2F46F5;
}

@font-face {
    font-family: "Titulo";
    src: url(fonts/Moderniz.otf);
}

body {
    min-height: 100vh;
    background-color: var(--cor3);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    background-image: linear-gradient(to right, var(--cor5), var(--cor4) 30%);
    min-height: 230px; /* antes era height */
    max-width: 100%;
    padding: 20px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.411);
}

/* TÍTULO PRINCIPAL */
header h1 {
    margin-top: 0px;
    padding-top: 20px;
    color: var(--cor1);
    text-shadow: 1px 1px 1px black;    
}

/* IMAGEM */
header img {
    display: block;
    max-width: 130px;
    width: 100%;
    border-radius: 50%;
    border: 3px solid var(--cor3);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
    margin: auto;
}

/* CARD INFO */
#headerinfo {
    display: block;
    background-color: var(--cor2);
    width: 90%;
    max-width: 700px;
    min-height: 100px;

    margin: 20px auto;

    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.493);
    padding: 10px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
}

#headerinfo p {
    padding-top: 20px;
    color: rgb(252, 229, 252);
}

/* NIVEL */
#nivel {
    background-color: rgba(0, 0, 0, 0.514);
    font-weight: bold;
    height: 50px;
    width: 50px;
    border-radius: 30%;
    margin: 10px auto;
    border: 3px solid var(--cor0);
    display: flex;
    align-items: center;
    justify-content: center;
}

#nivel p {
    margin: 0;
}

/* TITULO GRANDE */
#titulo {
    font-size: 8vw; /* responsivo */
    font-family: "Titulo", sans-serif;
    text-shadow: 1px 1px 10px black;
    text-align: center;
}

/* TEXTO HEADER */
header p {
    color: var(--cor1);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);
}

/* RESPONSIVO SIMPLES */
@media (max-width: 600px) {
    #headerinfo {
        width: 95%;
    }

    #titulo {
        font-size: 12vw;
    }
}